
<h3>Welcome <%= current_user.username%></h3>
<p>You can write posts and comments  but if your comment is banned note you will not be able to comment on the same post again also you can edit your own post</p>